<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- sb admin관련  -->
    <!-- Custom fonts for this template-->
    <!-- ../../img/mscustom/audioLine.jpg -->
    <link href="../../js/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this page -->
    <link href="../../js/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../../css/sb-admin-2.css" rel="stylesheet">
    <!-- end of sb admin관련  -->

</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1>adminPage</h1>
                        <textarea id="messages"></textarea>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                현재접속량</div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                현재 접속자수
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">180000</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Content Row -->

                    <div class="row">
                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">현재 접속량</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <!--      <canvas id="myPieChart"></canvas>-->
                                        <canvas id="testPieChart"></canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> Connected
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Disconnected
                                        </span>
                                        <!--                    <span class="mr-2">
                                                          <i class="fas fa-circle text-info"></i> Referral
                                                        </span>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">일별 접속량</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <!--  <canvas id="myAreaChart"></canvas>-->
                                        <canvas id="myAreaTest"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Content Wrapper -->
                        <div id="content-wrapper" class="d-flex flex-column">
                            <!-- Main Content -->
                            <div id="content">
                                <!-- Begin Page Content -->
                                <div class="container-fluid">
                                    <!-- DataTales Example -->
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3">
                                            <h6 class="m-0 font-weight-bold text-primary">모든 회원/접속여부</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered" id="dataTable" width="100%"
                                                    cellspacing="0" style="text-align: center;">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 15%;">회원ID</th>
                                                            <th style="width: 20%;">회원명</th>
                                                            <th style="width: 50%;">주소</th>
                                                            <th style="width: 15%;">접속여부</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tableOfUserList">
                                                    <!-- userdata들어가는 부분  -->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- /.container-fluid -->
                            </div>
                            <!-- End of Main Content -->
                        </div>
                        <!-- End of Content Wrapper -->



                    </div>
                    <!-- Content Row -->
                    <div class="row">
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; MS Project 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- SB ADMIN 관련 -->
    <!-- Bootstrap core JavaScript-->
    <script th:src="@{~/js/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{~/js/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{~/js/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script src="../../js/sb-admin-2.js"></script>

    <!-- Page level plugins -->
    <script th:src="@{~/js/vendor/chart.js/Chart.min.js}"></script>
    <script th:src="@{~/js/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{~/js/vendor/datatables/dataTables.bootstrap4.min.js}"></script>


    <!-- END OF ADMIN 관련 -->

    <script th:src="@{~/js/mscustom/vals.js}"></script>
    <script th:src="@{~/js/mscustom/functions.js}"></script>
    <script th:src="@{~/js/mscustom/subscribeInfo.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>

    <script>
        let currentMembers
        let totalMembers
        $(document).ready(function () {

            // 전체 user갖고와서 뿌려줌 
            $.ajax({
                url: "/admin/getAllMember",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                async: false,
                success: function (result) { 
                    let str = ""
                    result.forEach(element => {
                        str += "<tr>"
                        str += "<td>"+element.id+"</td>"
                        str += "<td>"+element.name+"</td>"
                        str += "<td>"+element.address+"</td>"
                        str += "<td id='"+element.id+"'>비접속</td>"
                        str += "</tr>"
                    });
                    $("#tableOfUserList").html(str)
                }
            })

            var socket = io.connect('http://localhost:3000')
            socket.emit("login", "admin")

            socket.on('anumberOfConnection', function (msg) {
                currentMembers = msg
                $.ajax({
                    url: "/member/getCountOfMember",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        totalMembers = result
                        console.log("총 회원은" + result)
                        console.log("현재 접속자 수: " + msg);

                        pieChartMaker(result,msg)

                        var ctx = document.getElementById("testPieChart");
                    }

                }); // end of todayList get ajax
            });

            socket.on('userList', function (msg) {
                let loginUserArr = new Array()
                console.log("현재 접속중인 유저"+msg);
                loginUserArr = msg.split(',')
                console.log(loginUserArr)
                loginUserArr.pop()
                loginUserArr.forEach(user => {
                    let $user =  $("#"+user)
                    $user.html('접속중')
                    $user.css('color','green')
                })
            });

            socket.on('m-logout',function (user) {
                let $user =  $("#"+user)
                $user.html('비접속')
                console.log(msg+"가 로그 아웃 하였습니다.");
                
            })

        })
    </script>

    <!-- Page level custom scripts -->
    <script th:src="@{~/js/demo/datatables-demo.js}"></script>
    <script th:src="@{~/js/demo/chart-area-demo.js}"></script>
    <script th:src="@{~/js/demo/chart-area-test.js}"></script>
    <script th:src="@{~/js/demo/chart-pie-demo.js}"></script>
    <script th:src="@{~/js/demo/chart-pie-test.js}"></script>


    </div>
</body>

</html>