<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>bclist</h1>
    <div >
        <ul th:each=" board, state : ${list}">
            <li th:text="${board.title}"></li>
            <li th:text="${board.content}"></li>
            <li th:text="${board.audioName}"></li>
        </ul>
    </div>

</body>
</html>