<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/todayListLayout}">

<body>

   <div layout:fragment="custom-content">

      <div class="sidenav">
         <a href="#">About</a>
         <a href="#">Services</a>
         <a href="#">Clients</a>
         <a href="#">Contact</a>
      </div>

      <div class="heading-banner-area overlay-bg">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="heading-banner">
                     <div class="heading-banner-title">
                        <h2>todayList</h2>
                     </div>
                     <div class="breadcumbs pb-15">
                        <ul>
                           <li><a href="index.html">Home</a></li>
                           <li>todayList</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>



      <div class="shopping-cart-area  pt-50 pb-60">
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="shopping-cart">
                     <!-- Nav tabs -->
                     <ul class="cart-page-menu row clearfix mb-30">
                        <li class="active"><a href="#todayList" data-toggle="tab" id="todayListBtn"
                              onclick="removeAllElements()">오늘의 방송</a></li>
                        <li><a href="#registerModal" data-toggle="tab">방송등록</a></li>
                        <li><a href="#totalList" data-toggle="tab">모든방송</a></li>
                        <li><a href="#" data-toggle="tab">구독한 컨텐츠</a></li>
                        <li><a href="#findCPDiv" data-toggle="tab">구독한 구독하러가기</a></li>
                     </ul>

                     <!-- Tab panes -->
                     <div class="tab-content">
                        <!-- todayList start -->
                        <!-- 여기가 뿌리는 곳 입니다~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~오늘 방송 -->
                        <div class="tab-pane active" id="todayList">
                           <form action="#">
                              <div class="shop-cart-table">
                                 <div class="table-content table-responsive">
                                    <table id="listtable" class="table table-condensed">
                                    </table>
                                 </div>
                              </div>
                           </form>
                        </div>

                        <!-- 조회/수정 modal -->
                        <div class="modal fade readModal" id="layerpop" data-backdrop="static">
                           <div class="modal-dialog">
                              <div class="modal-content">
                                 <!-- header -->
                                 <div class="modal-header">
                                    <!-- 닫기(x) 버튼 -->
                                    <button type="button" class="close" id="closeReadModal" data-dismiss="modal"
                                       onclick="removeAllElements()">×</button>
                                    <!-- header title -->
                                    <h4 class="modal-title">Header</h4>
                                 </div>
                                 <!-- body -->
                                 <div id="modifyModal" style="text-align: center;">
                                    <div class="modal-body" style="display: inline-block;">
                                       <!-- top of rudTable 조회/수정창입니다=============================== -->
                                       <table class="tableForm" id="rudFormTable" aria-disabled="true">
                                          <tr>
                                             <td class="formTitle"><strong>제목</strong></td>
                                             <td colspan="2">
                                                <h1 id="RUDbno" style="display: none;"></h1>
                                                <input class="title realtimeCheck" id="RUDtitle" readonly type="text"
                                                   placeholder="제목을 입력하세요">
                                             </td>
                                          </tr>
                                          <tr>
                                             <td class="formTitle"><strong>내용</strong></td>
                                             <td colspan="2"><textarea class="custom-textarea content realtimeCheck"
                                                   readonly id="RUDcontent" placeholder="내용을 입력하세요"></textarea></td>
                                          </tr>
                                          <tr>
                                             <td class="formTitle"></td>
                                             <td colspan="2" style="text-align: right;"><button class="spaceChecker"
                                                   style="display: none;">띄어쓰기교정</button></td>
                                          </tr>
                                          <tr>
                                             <td>　</td>
                                          </tr>
                                          <tr>
                                             <td class="formTitle"><strong>음성설정</strong></td>
                                             <td colspan="2"><select
                                                   class="custom-select mb-15 voiceGender realtimeCheck"
                                                   id="RUDvoiceGender" disabled>
                                                   <option value="woman">여성</option>
                                                   <option value="man">남성</option>
                                                </select></td>
                                          </tr>
                                          <tr>
                                             <td class="formTitle"><strong>알람음</strong></td>
                                             <td colspan="2"><select class="custom-select mb-15 alarmBell realtimeCheck"
                                                   id="RUDalarmBell" disabled>
                                                   <option value="1">알람음1</option>
                                                   <option value="2">알람음2</option>
                                                   <option value="3">알람음3</option>
                                                   <option value="4">알람음4</option>
                                                   <option value="5">알람음5</option>
                                                </select></td>
                                          </tr>
                                          <tr>
                                             <td class="formTitle"><strong>INTRO</strong></td>
                                             <td>
                                                <input type="file" class="intro realtimeCheck" name="RUDintro"
                                                   style="display: none;">
                                                <input type="text" readonly class="RUDfileName realtimeCheck"
                                                   id="RUDintroFileName" value="등록된 파일이 없습니다."
                                                   style="margin-bottom: 1px;" disabled>
                                                <input type="text" class="RUDoriginalPath" id="RUDoriginalIntro"
                                                   style="display:none;">
                                             </td>
                                             <td class="uploadCancelBtn">
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>　</td>
                                             <td><button class="fakeBtnForAdditional rudResetSet-1" id="fakeBtnForIntro"
                                                   style="display: none; margin-bottom: 15px;"> 파일선택</button></td>
                                          </tr>
                                          <tr>
                                             <td> </td>
                                          </tr>
                                          <tr>
                                             <td class="formTitle"><strong>ENDING</strong></td>
                                             <td>
                                                <input type="file" class="ending realtimeCheck" name="RUDending"
                                                   style="display: none;">
                                                <input type="text" readonly class="RUDfileName realtimeCheck"
                                                   id="RUDendingFileName" value="등록된 파일이 없습니다."
                                                   style="margin-bottom: 1px;" disabled>
                                                <input type="text" class="RUDoriginalPath" id="RUDoriginalEnding"
                                                   style="display:none;">
                                             </td>
                                             <td class="uploadCancelBtn">
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>　</td>
                                             <td>
                                                <button class="fakeBtnForAdditional rudResetSet-1" id="fakeBtnForEnding"
                                                   style="display: none; margin-bottom: 15px;"> 파일선택</button>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td> </td>
                                          </tr>
                                          <tr>
                                             <td class="formTitle"><strong>방송일자</strong></td>
                                             <td colspan="2">
                                                <div class="ymd">
                                                   <input class="custom-select mb-15 ymdSet realtimeCheck" readonly
                                                      type="text" id="RUDymdSet" placeholder="방송일자를 입력하세요."
                                                      onfocus="(this.type='date')" onblur="(this.type='text')">
                                                </div>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td class="formTitle"><strong>방송시간</strong></td>
                                             <td colspan="2">
                                                <div class="time">
                                                   <input class="custom-select mb-15 timeSet realtimeCheck" readonly
                                                      type="text" id="RUDtimeSet" placeholder="방송시간을 입력하세요."
                                                      onfocus="(this.type='time')" onblur="(this.type='text')">
                                                </div>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td class="formTitle"><strong>반복</strong></td>
                                             <td colspan="2">
                                                <div class="time">
                                                   <input type="text" readonly class="repeatView" id="RUDrepeatView">
                                                   <input type="text" class="repeat" id="RUDrepeat"
                                                      style="display: none;">
                                                </div>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>　</td>
                                          </tr>
                                          <tr>
                                             <div class="mt-20">
                                                <td></td>
                                                <td style="text-align: right; " colspan="2">
                                                   <button class="repeatSetting rudResetSet-1" id="RUDrepeatSetting"
                                                      type="button" data-toggle="modal" data-target="#repeatModal"
                                                      style="display: none;">반복설정</button>
                                                   <button class="preListen rudResetSet-1" id="RUDpreListen"
                                                      style="display: none;">미리듣기</button>
                                                   <button class="modifyBCBoard" id="modifyBCBoard">수정</button>
                                                   <button class="submitBtn rudResetSet-1" id="updateBCBoard"
                                                      style="display: none;">등록</button>
                                                   <button id="deleteBCBoard">삭제</button></td>
                                             </div>
                                          </tr>
                                       </table>
                                       <!-- end of rudTable -->
                                    </div>
                                 </div>
                                 <!-- Footer -->
                                 <div class="modal-footer">
                                    <!--                                    <button type="button" class="btn btn-default modifyBCBoard"
                                       id="modifyBCBoard">수정</button>
                                    <button type="button" class="btn btn-default submitBtn" id="updateBCBoard"
                                       style="display: none;">등록</button> 
                                    <button type="button" class="btn btn-default" id="deleteBCBoard">삭제</button>
                                    <button type="button" class="btn btn-default" id="closeReadModal"
                                       data-dismiss="modal" onclick="removeAllElements()">닫기</button>-->
                                 </div>
                              </div>
                           </div>
                        </div>

                        <!-- TODAYLIST end -->
                        <!-- check-out start -->
                        <!-- 등록창 -->
                        <div class="tab-pane" id="registerModal">
                           <form action="#">
                              <div class="shop-cart-table check-out-wrap">
                                 <div class="row">
                                    <!-- <div class="col-md-6 col-sm-6 col-xs-12"> -->
                                    <!--         <div class="billing-details pr-20"> -->
                                    <h3 style="text-align: center; ">방송등록</h3>
                                    <br>
                                    <div id="registerFormDiv" style="text-align: right;">
                                       <div style="text-align: right; margin-right: 20px;">
                                          <input type="checkbox" class="urgentCheck realtimeCheck">긴급공지<br>
                                       </div>
                                       <div style="width: 100%;  text-align: center;">
                                          <div style="display: inline-block;">
                                             <table class="tableForm" id="registerFormTable">
                                                <tr>
                                                   <td class="formTitle">
                                                      <p><strong>제목</strong></p>
                                                   </td>
                                                   <td colspan="2"><input class="title realtimeCheck" type="text"
                                                         id="title" placeholder="제목을 입력하세요">
                                                   </td>
                                                </tr>
                                                <tr>
                                                   <td class="formTitle">
                                                      <p><strong>내용</strong></p>
                                                   </td>
                                                   <td colspan="2"><textarea
                                                         class="custom-textarea content realtimeCheck" id="content"
                                                         placeholder="내용을 입력하세요"></textarea></td>
                                                </tr>
                                                <tr>
                                                   <td class="formTitle"></td>
                                                   <td colspan="2" style="text-align: right;"><button
                                                         class="spaceChecker" id="spaceChecker">띄어쓰기교정</button></td>
                                                </tr>
                                                <tr>
                                                   <td>　</td>
                                                </tr>
                                                <tr>
                                                   <td class="formTitle">
                                                      <p><strong>음성설정</strong></p>
                                                   </td>
                                                   <td colspan="2"><select
                                                         class="custom-select mb-15 voiceGender realtimeCheck"
                                                         id="voiceGender">
                                                         <option value="woman">여성</option>
                                                         <option value="man">남성</option>
                                                      </select></td>
                                                </tr>
                                                <tr>
                                                   <td class="formTitle">
                                                      <p><strong>알람음</strong></p>
                                                   </td>
                                                   <td colspan="2"><select
                                                         class="custom-select mb-15 alarmBell realtimeCheck"
                                                         id="alarmBell">
                                                         <option value="1">알람음1</option>
                                                         <option value="2">알람음2</option>
                                                         <option value="3">알람음3</option>
                                                         <option value="4">알람음4</option>
                                                         <option value="5">알람음5</option>
                                                      </select></td>
                                                </tr>
                                                <tr>
                                                   <td class="formTitle"><strong>INTRO</strong></td>
                                                   <td>
                                                      <input type="file" class="intro realtimeCheck" name="intro">
                                                   </td>
                                                   <th class="uploadCancelBtn">
                                                   </th>
                                                </tr>
                                                <tr>
                                                   <td>　</td>
                                                </tr>
                                                <tr>
                                                   <td class="formTitle"><strong>ENDING</strong></td>
                                                   <td>
                                                      <input type="file" class="ending realtimeCheck" name="ending">
                                                   </td>
                                                   <th class="uploadCancelBtn">
                                                   </th>
                                                </tr>
                                                <tr>
                                                   <td>　</td>
                                                </tr>
                                                <tr>
                                                   <td class="formTitle "><strong>방송일자</strong></td>
                                                   <td colspan="2">
                                                      <div class="ymd">
                                                         <input class="custom-select mb-15 ymdSet realtimeCheck"
                                                            type="text" id="ymdSet" placeholder="방송일자를 입력하세요"
                                                            onfocus="(this.type='date')" onblur="(this.type='text')">
                                                      </div>
                                                   </td>
                                                </tr>
                                                <tr>
                                                   <td>　</td>
                                                </tr>
                                                <tr>
                                                   <td class="formTitle"><strong>방송시간</strong></td>
                                                   <td colspan="2">
                                                      <div class="time">
                                                         <input class="custom-select mb-15 timeSet realtimeCheck"
                                                            type="text" id="timeSet" placeholder="방송시간을 입력하세요"
                                                            onfocus="(this.type='time')" onblur="(this.type='text')">
                                                      </div>
                                                   </td>
                                                </tr>
                                                <tr>
                                                   <td class="formTitle"><strong>반복</strong></td>
                                                   <td colspan="2">
                                                      <div class="time">
                                                         <input type="text" readonly class="repeatView realtimeCheck"
                                                            id="repeatView">
                                                         <input type="text" class="repeat" id="repeat"
                                                            style="display: none;">
                                                      </div>
                                                   </td>
                                                </tr>
                                                </tr>
                                                <tr>
                                                   <td>　</td>
                                                </tr>
                                                <tr>
                                                   <div class="mt-20">
                                                      <td></td>
                                                      <td style="text-align: right" colspan="2">
                                                         <button class="repeatSetting" type="button" data-toggle="modal"
                                                            data-target="#repeatModal">반복설정</button>
                                                         <button class="preListen">미리듣기</button>
                                                         <button style="color: lightgray;" class="submitBtn"
                                                            id="submitBtn" disabled=true>등록</button></td>
                                                   </div>
                                                </tr>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </form>
                        </div>
                        <!-- check-out end -->

                        <!-- totalList start -->
                        <div class="tab-pane" id="totalList">
                           <form action="#">
                              <div class="shop-cart-table check-out-wrap">
                                 <div class="table-content table-responsive">
                                    <table>
                                       <tr>
                                          <td>
                                             <Select class="custom-select mb-15" id="category"
                                                style=" min-width: 1.5cm ; max-width: 5cm ;  display: inline-block;">
                                                <option selected value="title">제목</option>
                                                <option value="year-month">연-월</option>
                                                <option value="year-month-day">연-월-일</option>
                                             </Select>
                                          </td>
                                          <td>
                                             <div>
                                                <input id="searchText" placeholder="제목 검색" type="text">

                                                <input class="custom-select mb-15" type="date" id="searchDate"
                                                   style="display: none;">

                                                <input class="custom-select mb-15" type="month" id="searchMonth"
                                                   style="display: none;">
                                             </div>
                                          </td>
                                          <td>
                                             <button data-text="검색" class="button-one font-16px"
                                                id="searchbtn">검색</button>
                                          </td>
                                       </tr>
                                    </table>

                                    <table class="table table-condensed" id="totalListtable">
                                    </table>
                                 </div>
                                 <div id="pagediv" class="pagination text-center" style="font-size: 25px;">
                                 </div>
                              </div>
                           </form>
                        </div>
                        <!-- end totla -->


                        <div class="tab-pane" id="findCPDiv">
                           <form action="#">
                              <div class="shop-cart-table check-out-wrap">
                                 <div class="table-content table-responsive">
                                    <table class="table table-condensed" id="subscribeInfo">
                                       <tr>
                                          <th>CP 아이디</th>
                                          <th>CP 제목</th>
                                          <th>CP 소개</th>
                                          <th>CP 구독하기</th>
                                       </tr>
                                       <tr>
                                          <td>cptest</td>
                                          <td>즐거운 아침방송</td>
                                          <td>클래식으로 시작하는 아침방송입니다</td>
                                          <td><button>aaaaaaaaaaaa</button></td>
                                       </tr>
                                    </table>
                                 </div>
                                 <div id="pagediv" class="pagination text-center" style="font-size: 25px;">
                                 </div>
                              </div>
                           </form>
                        </div>










                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- 반복설정 모달창 -->
      <div class="modal fade" id="repeatModal" role="dialog" data-backdrop="static">
         <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">×</button>
                  <h4 class="modal-title">반복설정</h4>
               </div>
               <div class="modal-body">
                  <select id="repeatType" style="width: 4cm;">
                     <option selected value="repeatWeek">주간</option>
                     <option value="repeatMonth">월간</option>
                  </select>
                  <br>
                  <br>
                  <br>
                  <div id="repeatMonthdiv" style="display:none ;">
                     <h4>월간반복</h4>
                     <select style=" width: 4cm;" id="repeatMonth">
                     </select>
                  </div>
                  <div id="repeatWeekdiv">
                     <h4>주간반복</h4>
                     <label>일</label>
                     <input name="repeatWeek" type="checkbox" data-val="0">
                     <label>월</label>
                     <input name="repeatWeek" type="checkbox" data-val="1">
                     <label>화</label>
                     <input name="repeatWeek" type="checkbox" data-val="2">
                     <label>수</label>
                     <input name="repeatWeek" type="checkbox" data-val="3">
                     <label>목</label>
                     <input name="repeatWeek" type="checkbox" data-val="4">
                     <label>금</label>
                     <input name="repeatWeek" type="checkbox" data-val="5">
                     <label>토</label>
                     <input name="repeatWeek" type="checkbox" data-val="6">

                  </div>
               </div>
               <div class="modal-footer">
                  <button id="resetRepeat" type="button" class="btn btn-default" style="display:none">반복설정해제</button>
                  <button id="repeatSubmitBtn" type="button" class="btn btn-default" data-dismiss="modal">확인</button>
                  <button type="button" class="btn btn-default" id="closeRepeatBtn" data-dismiss="modal">취소</button>
               </div>
            </div>

         </div>
      </div>
      <style>
         .modal {
            text-align: center;
         }

         @media screen and (min-width: 768px) {
            .modal:before {
               display: inline-block;
               vertical-align: middle;
               content: " ";
               height: 100%;
            }
         }

         .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
         }
      </style>

      <!-- 알람음 hidden tag : 역할 - 각 방송에 맞는 알람음을 찾아 먼저 재생한다. -->
      <div class="hiddenAlarm" style="display: none;">
         <audio id="hiddenAlarm1" controls th:src="@{~/alarmbell/alarm1.wav}"></audio>
         <audio id="hiddenAlarm2" controls th:src="@{~/alarmbell/alarm2.wav}"></audio>
         <audio id="hiddenAlarm3" controls th:src="@{~/alarmbell/alarm3.wav}"></audio>
         <audio id="hiddenAlarm4" controls th:src="@{~/alarmbell/alarm4.wav}"></audio>
         <audio id="hiddenAlarm5" controls th:src="@{~/alarmbell/alarm5.wav}"></audio>
      </div>

      <!-- audioArea : 조회,수정,등록시 모두 활용할 수 있도록 분리 -->
      <div class="allAudios" style="display: none;">
         <!-- sourcePlayer : TTS Source audio -->
         <audio class="sourcePlayer" id="sourcePlayer" controls src=""></audio>
         <!-- introPlayer : intro audio -->
         <audio class="introPlayer" id="introPlayer" controls src=""></audio>
         <!-- endingPlayer : ending audio -->
         <audio class="endingPlayer" id="endingPlayer" controls src=""></audio>
      </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
      <script th:src="@{~/js/vendor/jquery-1.12.0.min.js}"></script>
      <script th:src="@{~/js/mscustom/vals.js}"></script>
      <script th:src="@{~/js/mscustom/totallist.js}"></script>
      <script th:src="@{~/js/mscustom/todaylist.js}"></script>
      <script th:src="@{~/js/mscustom/register.js}"></script>
      <script th:src="@{~/js/mscustom/rud.js}"></script>
      <script th:src="@{~/js/mscustom/functions.js}"></script>
      <script th:src="@{~/js/mscustom/subscribeInfo.js}"></script>
      <!-- <script src="/socket.io/socket.io.js"></script> -->

      <script>

         $(document).ready(function () {

            var socket = io.connect('http://localhost:3000')

            // console.log(socket);


            console.log(socket.emit("login", getCookie("userName")));

            $("#logoutTag").on("click", function (e) {
               e.preventDefault();
               console.log(socket.emit("logout", getCookie("userName")));
               console.log("로그이웃함");
               location.href = '/logout2';
            })
            // console.log(socket.emit("logout", getCookie("userName")));



            getTodayList();
            loadpage(1, "title", "");
            repeatMonthSelectAppend();
            getAllCPInfo("", 0)
         })
      </script>


   </div>
   <!--이건 왜 여기 와야 하는걸까? -->
</body>

</html>