<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/todayListLayout}">

<body>

   <div layout:fragment="custom-content">
      <div class="shopping-cart-area  pt-50 pb-60">
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="shopping-cart">
                     <!-- Nav tabs -->
                     <ul class="cart-page-menu row clearfix mb-30">
                        <li class="active"><a href="#todayList" data-toggle="tab" id="todayListBtn">오늘의 방송</a></li>
                        <li><a href="#registerModal" data-toggle="tab">방송등록</a></li>
                        <li><a href="#totalList" data-toggle="tab">모든방송</a></li>
                     </ul>

                     <!-- Tab panes -->
                     <div class="tab-content">
                        <!-- todayList start -->
                        <!-- 여기가 뿌리는 곳 입니다~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~오늘 방송 -->
                        <div class="tab-pane active" id="todayList">
                           <form action="#">
                              <div class="shop-cart-table">
                                 <div class="table-content table-responsive">
                                    <table id="listtable" class="table table-condensed">
                                    </table>
                                 </div>
                              </div>
                           </form>
                        </div>

                        <!-- 조회/수정 modal -->
                        <div class="modal fade" id="layerpop">
                           <div class="modal-dialog">
                              <div class="modal-content">
                                 <!-- header -->
                                 <div class="modal-header">
                                    <!-- 닫기(x) 버튼 -->
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                    <!-- header title -->
                                    <h4 class="modal-title">Header</h4>
                                 </div>
                                 <!-- body -->
                                 <div class="modal-body">
                                    <!-- top of rudTable 조회창입니다=============================== -->
                                    <table id="rudFormTable">
                                       <tr>
                                          <th class="formTitle" style="width: 100px;"><strong>제목</strong></th>
                                          <th colspan="2"><input class="title" id="RUDtitle" type="text" placeholder="제목을 입력하세요">
                                          </th>
                                       </tr>
                                       <tr>
                                          <th class="formTitle"><strong>내용</strong></th>
                                          <th colspan="2"><textarea class="custom-textarea content" id="RUDcontent"
                                                placeholder="내용을 입력하세요"></textarea></th>
                                       </tr>
                                       <tr>
                                          <th class="formTitle"></th>
                                          <th colspan="2" style="text-align: right;"><button
                                                class="spaceChecker">띄어쓰기교정</button></th>
                                       </tr>
                                       <tr>
                                          <th>　</th>
                                       </tr>
                                       <tr>
                                          <th class="formTitle"><strong>음성설정</strong></th>
                                          <th colspan="2"><select class="custom-select mb-15 voiceGender" id="RUDvoiceGender">
                                                <option value="woman">여성</option>
                                                <option value="man">남성</option>
                                             </select></th>
                                       </tr>
                                       <tr>
                                          <th class="formTitle"><strong>알람음</strong></th>
                                          <th colspan="2"><select class="custom-select mb-15 alarmBell" id="RUDalarmBell">
                                                <option value="1">알람음1</option>
                                                <option value="2">알람음2</option>
                                                <option value="3">알람음3</option>
                                                <option value="4">알람음4</option>
                                                <option value="5">알람음5</option>
                                             </select></th>
                                       </tr>
                                       <tr>
                                          <th class="formTitle"><strong>INTRO</strong></th>
                                          <th>
                                             <input type="file" class="intro" id="RUDintro">
                                          </th>
                                          <th class="uploadCancelBtn">
                                          </th>
                                       </tr>
                                       <tr>
                                          <th>　</th>
                                       </tr>
                                       <tr>
                                          <th class="formTitle"><strong>ENDING</strong></th>
                                          <th>
                                             <input type="file" class="ending" id="RUDending">
                                          </th>
                                          <th class="uploadCancelBtn">
                                          </th>
                                       </tr>
                                       <tr>
                                          <th>　</th>
                                       </tr>
                                       <tr>
                                          <th class="formTitle "><strong>방송일자</strong></th>
                                          <th colspan="2">
                                             <div class="ymd">
                                                <input class="custom-select mb-15 ymdSet" type="date" id="RUDymdSet">
                                             </div>
                                          </th>
                                       </tr>
                                       <tr>
                                          <th>　</th>
                                       </tr>
                                       <tr>
                                          <th class="formTitle"><strong>방송시간</strong></th>
                                          <th colspan="2">
                                             <div class="time">
                                                <input class="custom-select mb-15 timeSet" type="time" id="RUDtimeSet">
                                             </div>
                                          </th>
                                       </tr>
                                       </tr>
                                       <tr>
                                          <th>　</th>
                                       </tr>
                                       <tr>
                                          <div class="mt-20">
                                             <th></th>
                                             <th style="text-align: right" colspan="2">
                                                <button class="repeat">반복설정</button> &nbsp;
                                                <button class="preListen">미리듣기</button> &nbsp;
                                                <button class="submitBtn" disabled=true>방송등록</button></th>
                                          </div>
                                       </tr>
                                    </table>
                                    <!-- end of rudTable -->
                                 </div>
                                 <!-- Footer -->
                                 <div class="modal-footer">
                                    Footer
                                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                 </div>
                              </div>
                           </div>
                        </div>

                        <!-- TODAYLIST end -->
                        <!-- check-out start -->
                        <!-- 써먹을데가 있을 것 같다. 등록창으로 -->
                        <div class="tab-pane" id="registerModal">
                           <!--아이디 변경해줘야함!!-->
                           <form action="#">
                              <div class="shop-cart-table check-out-wrap">
                                 <div class="row">
                                    <!-- <div class="col-md-6 col-sm-6 col-xs-12"> -->
                                    <!--         <div class="billing-details pr-20"> -->
                                    <h3 style="text-align: center; ">방송등록</h3>
                                    <br>
                                    <div id="registerFormDiv" style="text-align: right;">
                                       <input type="checkbox" class="urgentCheck">긴급공지<br>
                                       <table id="registerFormTable">
                                          <tr>
                                             <th class="formTitle" style="width: 300px;"><strong>제목</strong></th>
                                             <th colspan="2"><input class="title" type="text" id="title"
                                                   placeholder="제목을 입력하세요">
                                             </th>
                                          </tr>
                                          <tr>
                                             <th class="formTitle"><strong>내용</strong></th>
                                             <th colspan="2"><textarea class="custom-textarea content" id="content"
                                                   placeholder="내용을 입력하세요"></textarea></th>
                                          </tr>
                                          <tr>
                                             <th class="formTitle"></th>
                                             <th colspan="2" style="text-align: right;"><button class="spaceChecker"
                                                   id="spaceChecker">띄어쓰기교정</button></th>
                                          </tr>
                                          <tr>
                                             <th>　</th>
                                          </tr>
                                          <tr>
                                             <th class="formTitle"><strong>음성설정</strong></th>
                                             <th colspan="2"><select class="custom-select mb-15 voiceGender"
                                                   id="voiceGender">
                                                   <option value="woman">여성</option>
                                                   <option value="man">남성</option>
                                                </select></th>
                                          </tr>
                                          <tr>
                                             <th class="formTitle"><strong>알람음</strong></th>
                                             <th colspan="2"><select class="custom-select mb-15 alarmBell"
                                                   id="alarmBell">
                                                   <option value="1">알람음1</option>
                                                   <option value="2">알람음2</option>
                                                   <option value="3">알람음3</option>
                                                   <option value="4">알람음4</option>
                                                   <option value="5">알람음5</option>
                                                </select></th>
                                          </tr>
                                          <tr>
                                             <th class="formTitle"><strong>INTRO</strong></th>
                                             <th>
                                                <input type="file" class="intro" name="intro">
                                             </th>
                                             <th class="uploadCancelBtn">
                                             </th>
                                          </tr>
                                          <tr>
                                             <th>　</th>
                                          </tr>
                                          <tr>
                                             <th class="formTitle"><strong>ENDING</strong></th>
                                             <th>
                                                <input type="file" class="ending" name="ending">
                                             </th>
                                             <th class="uploadCancelBtn">
                                             </th>
                                          </tr>
                                          <tr>
                                             <th>　</th>
                                          </tr>
                                          <tr>
                                             <th class="formTitle "><strong>방송일자</strong></th>
                                             <th colspan="2">
                                                <div class="ymd">
                                                   <input class="custom-select mb-15 ymdSet" type="date" id="ymdSet">
                                                </div>
                                             </th>
                                          </tr>
                                          <tr>
                                             <th>　</th>
                                          </tr>
                                          <tr>
                                             <th class="formTitle"><strong>방송시간</strong></th>
                                             <th colspan="2">
                                                <div class="time">
                                                   <input class="custom-select mb-15 timeSet" type="time" id="timeSet">
                                                </div>
                                             </th>
                                          </tr>
                                          </tr>
                                          <tr>
                                             <th>　</th>
                                          </tr>
                                          <tr>
                                             <div class="mt-20">
                                                <th></th>
                                                <th style="text-align: right" colspan="2">
                                                   <button class="repeat" type="button" data-toggle="modal"
                                                      data-target="#myModal">반복설정</button>
                                                   <button class="preListen">미리듣기</button>
                                                   <button class="submitBtn" disabled=true>등록</button></th>
                                             </div>
                                          </tr>
                                       </table>
                                    </div>
                                 </div>
                              </div>
                           </form>
                        </div>
                        <!-- check-out end -->

                        <!-- totalList start -->

                        <div class="tab-pane" id="totalList">
                           <form action="#">
                              <div class="shop-cart-table check-out-wrap">
                                 <div class="table-content table-responsive">
                                    <table>
                                       <tr>
                                          <td>
                                             <Select class="custom-select mb-15" id="category"
                                                style=" min-width: 1.5cm ; max-width: 5cm ;  display: inline-block;">
                                                <option selected value="title">제목</option>
                                                <option value="year-month">연-월</option>
                                                <option value="year-month-day">연-월-일</option>
                                             </Select>
                                          </td>
                                          <td>
                                             <div>
                                                <input id="searchText" placeholder="제목 검색" type="text">

                                                <input class="custom-select mb-15" type="date" id="searchDate"
                                                   style="display: none;">

                                                <input class="custom-select mb-15" type="month" id="searchMonth"
                                                   style="display: none;">
                                             </div>
                                          </td>
                                          <td>
                                             <button data-text="검색" class="button-one font-16px"
                                                id="searchbtn">검색</button>
                                          </td>
                                       </tr>
                                    </table>

                                    <table class="table table-condensed" id="totalListtable">
                                    </table>
                                 </div>
                                 <div id="pagediv" class="pagination text-center" style="font-size: 25px;">
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="modal fade" id="myModal" role="dialog">
         <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">×</button>
                  <h4  class="modal-title">반복설정</h4>
               </div>
               <select id="repeatType"  >
                  <option selected value="repeatWeek">주간</option>
                  <option value="repeatMonth">월간</option>
               </select>
               <div  class="modal-body">
                  <div id="repeatMonthdiv" style="display:none ;">
                     <h4>월간반복</h4>
                     <input id="repeatMonth" type="date">
                  </div>
                  <div id="repeatWeekdiv" style="display:none ;">
                     <h4>주간반복</h4>
                     <label >일</label>
                     <input name="repeatWeek" type="checkbox" value="0">
                     <label >월</label>
                     <input name="repeatWeek" type="checkbox" value="1">
                     <label >화</label>
                     <input name="repeatWeek" type="checkbox" value="2">
                     <label >수</label>
                     <input name="repeatWeek"  type="checkbox" value="3">
                     <label >목</label>
                     <input name="repeatWeek" type="checkbox" data-val="aaaaaaaaa" value="4">
                     <label >금</label>
                     <input name="repeatWeek" type="checkbox" value="5">
                     <label >토</label>
                     <input name="repeatWeek" type="checkbox" value="6">

                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">확인</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
               </div>
            </div>

         </div>
      </div>
      <style>
         .modal {
            text-align: center;
         }

         @media screen and (min-width: 768px) {
            .modal:before {
               display: inline-block;
               vertical-align: middle;
               content: " ";
               height: 100%;
            }
         }

         .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
         }
      </style>

      <!-- 알람음 hidden tag : 역할 - 각 방송에 맞는 알람음을 찾아 먼저 재생한다. -->
      <div class="hiddenAlarm" style="display: none;">
         <audio id="hiddenAlarm1" controls th:src="@{~/alarmbell/alarm1.wav}"></audio>
         <audio id="hiddenAlarm2" controls th:src="@{~/alarmbell/alarm2.wav}"></audio>
         <audio id="hiddenAlarm3" controls th:src="@{~/alarmbell/alarm3.wav}"></audio>
         <audio id="hiddenAlarm4" controls th:src="@{~/alarmbell/alarm4.wav}"></audio>
         <audio id="hiddenAlarm5" controls th:src="@{~/alarmbell/alarm5.wav}"></audio>
      </div>

      <!-- audioArea : 조회,수정,등록시 모두 활용할 수 있도록 분리 -->
      <div class="allAudios" style="display: none;">
      <!-- sourcePlayer : TTS Source audio -->
      <audio class="sourcePlayer" id="sourcePlayer" controls src=""></audio>
      <!-- introPlayer : intro audio -->
      <audio class="introPlayer" id="introPlayer" controls src=""></audio>
      <!-- endingPlayer : ending audio -->
      <audio class="endingPlayer" id="endingPlayer" controls src=""></audio>
      </div>

      <script th:src="@{~/js/vendor/jquery-1.12.0.min.js}"></script>
      <script th:src="@{~/js/mscustom/vals.js}"></script>
      <script th:src="@{~/js/mscustom/totallist.js}"></script>
      <script th:src="@{~/js/mscustom/todaylist.js}"></script>
      <script th:src="@{~/js/mscustom/register.js}"></script>
      <script>

         $(document).ready(function() {
            getTodayList();
         })
      
      </script>


   </div>
   <!--이건 왜 여기 와야 하는걸까? -->
</body>

</html>