<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/todayListLayout}">

<body>

   <div layout:fragment="custom-content">
      <div class="shopping-cart-area  pt-50 pb-60">
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="shopping-cart">
                     <!-- Nav tabs -->
                     <ul class="cart-page-menu row clearfix mb-30">
                        <!--                         <li><a href="#shopping-cart" data-toggle="tab">shopping cart</a></li> -->
                        <li class="active"><a href="#todayList" data-toggle="tab" id="todayListBtn">오늘의 방송</a></li>
                        <li><a href="#registerModal" data-toggle="tab">방송등록</a></li>
                        <li><a href="#totalList" data-toggle="tab">모든방송</a></li>
                        <!--                         <li><a href="#order-complete" data-toggle="tab">order complete</a></li> -->
                     </ul>

                     <!-- Tab panes -->
                     <div class="tab-content">
                        <!-- todayList start -->
                        <!-- 여기가 뿌리는 곳 입니다~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~오늘 방송 -->
                        <div class="tab-pane active" id="todayList">
                           <form action="#">
                              <div class="shop-cart-table">
                                 <div class="table-content table-responsive">
                                    <table id="listtable" class="table table-condensed">
                                    </table>
                                 </div>
                              </div>
                           </form>
                        </div>
                        <!-- TODAYLIST end -->
                        <!-- check-out start -->
                        <!-- 써먹을데가 있을 것 같다. 등록창으로 -->
                        <div class="tab-pane" id="registerModal">
                           <!--아이디 변경해줘야함!!-->
                           <form action="#">
                              <div class="shop-cart-table check-out-wrap">
                                 <div class="row">
                                    <!-- <div class="col-md-6 col-sm-6 col-xs-12"> -->
                                    <!--         <div class="billing-details pr-20"> -->
                                    <h3 style="text-align: center; ">방송등록</h3>
                                    <br>
                                    <div id="registerFormDiv" style="text-align: right;">
                                       <input type="checkbox" class="urgentCheck">긴급공지<br>
                                       <table id="registerFormTable">
                                          <tr>
                                             <th class="formTitle" style="width: 300px;"><strong>제목</strong></th>
                                             <th colspan="2"><input class="title" type="text" id="title"
                                                   placeholder="제목을 입력하세요">
                                             </th>
                                          </tr>
                                          <tr>
                                             <th class="formTitle"><strong>내용</strong></th>
                                             <th colspan="2"><textarea class="custom-textarea" id="content"
                                                   placeholder="내용을 입력하세요"></textarea></th>
                                          </tr>
                                          <tr>
                                             <th class="formTitle"></th>
                                             <th colspan="2" style="text-align: right;"><button
                                                   id="spaceChecker">띄어쓰기교정</button></th>
                                          </tr>
                                          <tr>
                                             <th>　</th>
                                          </tr>
                                          <tr>
                                             <th class="formTitle"><strong>음성설정</strong></th>
                                             <th colspan="2"><select class="custom-select mb-15" id="voiceGender">
                                                   <option value="woman">여성</option>
                                                   <option value="man">남성</option>
                                                </select></th>
                                          </tr>
                                          <tr>
                                             <th class="formTitle"><strong>알람음</strong></th>
                                             <th colspan="2"><select class="custom-select mb-15" id="alarmBell">
                                                   <option value="1">알람음1</option>
                                                   <option value="2">알람음2</option>
                                                   <option value="3">알람음3</option>
                                                   <option value="4">알람음4</option>
                                                   <option value="5">알람음5</option>
                                                </select></th>
                                          </tr>
                                          <tr>
                                             <th class="formTitle"><strong>INTRO</strong></th>
                                             <th>
                                                <input type="file" name="intro">
                                             </th>
                                             <th class="uploadCancelBtn">
                                             </th>
                                          </tr>
                                          <tr>
                                             <th>　</th>
                                          </tr>
                                          <tr>
                                             <th class="formTitle"><strong>ENDING</strong></th>
                                             <th>
                                                <input type="file" name="ending">
                                             </th>
                                             <th class="uploadCancelBtn">
                                             </th>
                                          </tr>
                                          <tr>
                                             <th>　</th>
                                          </tr>
                                          <tr>
                                             <th class="formTitle "><strong>방송일자</strong></th>
                                             <th colspan="2">
                                                <div class="ymd">
                                                   <input class="custom-select mb-15" type="date" id="ymdSet">
                                                </div>
                                             </th>
                                          </tr>
                                          <tr>
                                             <th>　</th>
                                          </tr>
                                          <tr>
                                             <th class="formTitle"><strong>방송시간</strong></th>
                                             <th colspan="2">
                                                <div class="time">
                                                   <input class="custom-select mb-15" type="time" id="timeSet">
                                                </div>
                                             </th>
                                          </tr>
                                          </tr>
                                          <tr>
                                             <th>　</th>
                                          </tr>
                                          <tr>
                                             <div class="mt-20">
                                                <th></th>
                                                <th style="text-align: right" colspan="2">
                                                   <button data-text="반복설정" class="button-one font-16px" id="repeat">반복설정</button> &nbsp;
                                                   <button data-text="미리듣기" class="button-one font-16px" id="preListen">미리듣기</button> &nbsp;
                                                   <button data-text="방송등록" class="button-one font-16px" id="submitBtn" disabled=true>방송등록</button></th>
                                             </div>
                                          </tr>
                                       </table>
                                       <!-- sourcePlayer : TTS Source audio -->
                                       <audio id="sourcePlayer" controls style="display: none;" src="">
                                       </audio>
                                       <!-- introPlayer : intro audio -->
                                       <audio id="introPlayer" controls style="display: none;" src="">
                                       </audio>
                                       <!-- endingPlayer : ending audio -->
                                       <audio id="endingPlayer" controls style="display: none;" src="">
                                       </audio>
                                    </div>
                                 </div>
                              </div>
                           </form>
                        </div>
                        <!-- check-out end -->

                        <!-- totalList start -->

                        <div class="tab-pane" id="totalList">
                           <form action="#">
                              <div class="shop-cart-table check-out-wrap">
                                 <div class="table-content table-responsive">
                                    <table>
                                       <tr>
                                          <td>
                                             <Select class="custom-select mb-15" id="category"
                                                style=" min-width: 1.5cm ; max-width: 5cm ;  display: inline-block;">
                                                <option selected value="title">제목</option>
                                                <option value="year-month">연-월</option>
                                                <option value="year-month-day">연-월-일</option>
                                             </Select>
                                          </td>
                                          <td>
                                             <div>
                                                <input id="searchText" placeholder="제목 검색" type="text">

                                                <input class="custom-select mb-15" type="date" id="searchDate"
                                                   style="display: none;">

                                                <input class="custom-select mb-15" type="month" id="searchMonth"
                                                   style="display: none;">
                                             </div>
                                          </td>
                                          <td>
                                             <button data-text="검색" class="button-one font-16px"
                                                id="searchbtn">검색</button>
                                          </td>
                                       </tr>
                                    </table>

                                    <table class="table table-condensed" id="totalListtable">
                                    </table>
                                 </div>
                                 <div id="pagediv" class="pagination text-center" style="font-size: 25px;">
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- 알람음 hidden tag : 역할 - 각 방송에 맞는 알람음을 찾아 먼저 재생한다. -->
      <div class="hiddenAlarm" style="display: none;">
         <audio id="hiddenAlarm1" controls th:src="@{~/alarmbell/alarm1.wav}"></audio>
         <audio id="hiddenAlarm2" controls th:src="@{~/alarmbell/alarm2.wav}"></audio>
         <audio id="hiddenAlarm3" controls th:src="@{~/alarmbell/alarm3.wav}"></audio>
         <audio id="hiddenAlarm4" controls th:src="@{~/alarmbell/alarm4.wav}"></audio>
         <audio id="hiddenAlarm5" controls th:src="@{~/alarmbell/alarm5.wav}"></audio>
      </div>

      <script th:src="@{~/js/vendor/jquery-1.12.0.min.js}"></script>
      <script th:src="@{~/js/mscostom/vals.js}"></script>
      <script th:src="@{~/js/mscostom/totallist.js}"></script>
      <script th:src="@{~/js/mscostom/todaylist.js}"></script>



      <script>
         $(document).ready(function () {

            getTodayList();

            ///////////////////// modal event area ////////////////////
            var startdate, starttime, title, content, gender, alarmBell, jsonData, alarmObj, sourceObj, introObj, endingObj;
            var audioObjects;

            // 미리듣기/등록하기 클릭시 dto 요소들을 현재 설정되어 있는 값으로 설정해주는 함수(startdate,starttime제외)
            function setAllElements() {
               title = $("#title").val();
               content = $("#content").val();
               gender = $("#voiceGender option:selected").val();
               alarmBell = $("#alarmBell option:selected").val();
               setAudioElements();
            }

            function setAudioElements() {
               alarmObj = $("#hiddenAlarm" + alarmBell)[0];
               sourceObj = $("#sourcePlayer")[0];
               introObj = $("#introPlayer")[0];
               endingObj = $("#endingPlayer")[0];
               audioObjects = [alarmObj, introObj, sourceObj, endingObj];
            }


            // ===============================================================================     
            // 띄어쓰기 교정  ==>  API이상함. 다른걸로 수정하던지 없애던지 할 것  
            $("#spaceChecker").on("click", function (e) {
               e.preventDefault();
               var key = "3439797815659168424";
               var sentence = $("#content").val();
               var jsonData = {
                  key: key,
               };
               $.getJSON("http://api.adams.ai/datamixiApi/autospacing?sentence=" + sentence, jsonData, function (data) {
                  var resultText = data.return_object.answer;
                  $("#content").val(resultText);
               })
            })

            // =============================================================================== 

            // 긴급공지 체크 이벤트 - 비활성화시켜야할 요소들 disabled 
            $(".urgentCheck").change(function (e) {
               var isChecked = $(".urgentCheck").is(":checked");
               $("#ymdSet, #timeSet").prop("disabled", isChecked);
               $("#repeat").prop("disabled", isChecked);
            });

            // ===============================================================================               

            // 등록버튼클릭시 인트로와/엔딩오디오가 업로드 되어있는지 확인 및 controller로 데이터날린 후 저장하고 
            // uuid를 포함한 파일명을 return하는 함수
            function checkadditionalAudioExist(object) {
               var formData = new FormData();
               var wholeFileName = "";
               formData.append("additionalAudio", object[0]);
               $.ajax({
                  url: 'http://localhost:8080/rbcboard/registerFiles',
                  processData: false,
                  contentType: false,
                  async: false,
                  data: formData,
                  type: 'POST',
                  dataType: 'json',
                  success: function (result) {
                     wholeFileName = result[0].substring(result[0].lastIndexOf("*") + 1, result[0].length);
                     console.log(wholeFileName);
                  }
               });
               return wholeFileName;
            } // end of checkadditionalAudioExist function 

            // ===============================================================================

            // 파일 유효성 검사 function (파일크기, 파일형식) 
            function validateFile(fileName, fileSize) {
               var regex = new RegExp("(.*?)\.(wav|mp3|wma|aac|flac|mmf)$");
               var maxSize = 10485760;
               if (fileSize > maxSize) {
                  alert("업로드 가능한 파일 크기를 초과했습니다.")
                  return false;
               };
               if (!regex.test(fileName)) {
                  alert("해당 형식의 파일은 업로드 할 수 없습니다.")
                  return false;
               };
               return true;
            }

            // ===============================================================================

            // 오디오객체배열을 파라미터로 받아 재생시켜주는 function
            function playAllAudios(audios) {
               for (let j = audios.length - 1; j > 0; j--) {
                  // 이거 나중에 수정해주자 : 페이지경로로되어있는 이유는 초기화해주어서 그런듯 
                  if (audios[j].src == "http://localhost:8080/bcboard/todayList") {
                     audios.splice(j, 1);
                  } else {
                     audios[j].load();
                  }
               }
               audios[0].play();
               for (let i = 0; i < audios.length - 1; i++) {
                  audios[i].addEventListener("ended", function (e) {
                     audios[i + 1].play();
                     this.removeEventListener("ended", arguments.callee);
                  });
               }
            }

            // ===============================================================================

            // 파일 업로드되면 취소하는 버튼 만드는 function
            function makeCancelBtn(targetAudioTagName) {
               var targetAudio = $("input[name='" + targetAudioTagName + "']");
               var btnArea = targetAudio.parent().parent().find('.uploadCancelBtn');
               $(btnArea)[0].innerHTML
                  = "<i class='material-icons' id='" + targetAudioTagName + "'>cancel</i>";
            }

            // ===============================================================================

            // 파일업로드 취소 버튼 event (업로드된 파일reset)
            $(".uploadCancelBtn").on("click", function () {
               $("input[name='" + this.children[0].id + "']").val("");
               this.innerHTML = "";
            })

            // ===============================================================================

            // 파일 업로드 감지(업로드~미리듣기 전까지의 과정)
            $("input[type='file']").change(function () {
               var formData = new FormData();
               var additionalAudio = $(this)[0].files;
               var fileTagName = this.name;
               if (!validateFile(additionalAudio[0].name, additionalAudio[0].size)) { // 유효성검사
                  $(this).val("");
                  return false;
               }
               formData.append("additionalAudio", additionalAudio[0]);
               formData.append("forRegister", false);
               $.ajax({
                  url: 'http://localhost:8080/rbcboard/fileUpload',
                  processData: false,
                  contentType: false,
                  data: formData,
                  type: 'POST',
                  dataType: 'json',
                  success: function (result) {
                     $("#" + fileTagName + "Player").attr('src', "http://localhost:8080/rbcboard/" + result[0])
                     makeCancelBtn(fileTagName);
                  }
               });
            });

            // ===============================================================================               
            // 미리듣기 버튼 이벤트
            $("#preListen").on("click", function (e) {
               e.preventDefault();
               $("#submitBtn").prop("disabled", false);
               setAllElements();
               jsonData = {
                  title: title,
                  content: content,
                  gender: gender
               };
               $.ajax({
                  url: 'http://localhost:8080/rbcboard/prelisten',
                  data: jsonData,
                  type: 'GET',
                  dataType: 'json',
                  async: false,
                  success: function (result) {
                     $("#sourcePlayer").attr('src', "http://localhost:8080/rbcboard/" + result[0]);
                     setAudioElements();
                     playAllAudios(audioObjects);
                  } // end of success function 
               }); // end of ajax
            }); //end of preListen button event


            // ===============================================================================               
            // 저장버튼 클릭 이벤트
            $("#submitBtn").on("click", function (e) {
               e.preventDefault();
               setAllElements();
               var result;

               if ($(".urgentCheck").is(":checked")) {
                  result = confirm("확인 버튼을 누르면 곧바로 방송이 송출됩니다. 정말 등록하시겠습니까?");
                  if (!result) {
                     return; // confirm창에서 취소버튼을 누른경우.
                  } else { // 긴급공지
                     // 메서드로 뺼 수 있나 고민해볼것
                   /*   var uToday = new Date();
                     var uDay = ((uToday.getDate()).toString().length == 1 ? "0" + (uToday.getDate()) : (uToday.getDate()));
                     var uMonth = ((uToday.getMonth() + 1).toString().length == 1 ? "0" + (uToday.getMonth() + 1) : (uToday.getMonth() + 1));
                     var uHour = uToday.getHours().toString().length == 1 ? "0" + uToday.getHours() : uToday.getHours();
                     var uMinute = uToday.getMinutes().toString().length == 1 ? "0" + uToday.getMinutes() : uToday.getMinutes();
                     var uDate = uToday.getFullYear() + "-" + uMonth + "-" + uDay;
                     var uTime = uHour + ":" + uMinute; */
                     startdate = vals.date;
                     starttime = vals.time;
                     console.log(startdate);
                     console.log(starttime);
                     console.log("타임,데이트확인. 만기야 여기좀 봐줘")

                     var intro = "";
                     var ending = "";

                     // if intro exists
                     if ($("#introPlayer").attr('src') !== "") {
                        intro = checkadditionalAudioExist($("input[name='intro']")[0].files);
                     }
                     // if ending exists
                     if ($("#endingPlayer").attr('src') !== "") {
                        ending = checkadditionalAudioExist($("input[name='ending']")[0].files);
                     }
                     // return으로 파일명(with UUID)받아서 jsonData로는 only 파일명만 세팅해주기

                     jsonData = {
                        content: content,
                        title: title,
                        gender: gender,
                        startdate: startdate,
                        starttime: starttime,
                        audioVO: { alarmBell: alarmBell, intro: intro, ending: ending }
                     };

                     setAudioElements();
                     playAllAudios(audioObjects);
                  }
               } else { // 긴급방송이 아닌경우 
                  var ymdSet = $("#ymdSet")[0];
                  var timeSet = $("#timeSet")[0];
                  if(ymdSet.value=="" || timeSet.value==""){
                     alert("방송 일자와 시간을 설정해주세요.")
                     return;
                  }
                  result = confirm("방송을 등록하시겠습니까?");
                  if (!result) {
                     return;
                  } else {
                     startdate = ymdSet.value;
                     starttime = timeSet.value;
                     var intro = "";
                     var ending = "";
                     if ($("#introPlayer").attr('src') !== "") {
                        intro = checkadditionalAudioExist($("input[name='intro']")[0].files);
                     } // end of if intro exists
                     if ($("#endingPlayer").attr('src') !== "") {
                        ending = checkadditionalAudioExist($("input[name='ending']")[0].files);
                     } // end of if ending exists

                     jsonData = {
                        content: content,
                        title: title,
                        gender: gender,
                        startdate: startdate,
                        starttime: starttime,
                        audioVO: { alarmBell: alarmBell, intro: intro, ending: ending }
                     };
                  }
               } // end of else(긴급방송이 아닌경우)

               $.ajax({
                  url: 'http://localhost:8080/rbcboard/register',
                  data: JSON.stringify(jsonData),
                  type: 'POST',
                  contentType: "application/json; charset=utf-8",
               }).done(function (data) {
                  getTodayList();
                  $("#todayListBtn").trigger('click');
               }) // end of ajax
            }); // end of submitbutton event


            $("#category").on("change", function (params) {
               $("#searchText").css("display", "none")
               $("#searchDate").css("display", "none")
               $("#searchMonth").css("display", "none")
               var cate = $(this).val()
               if (cate == "title") {
                  $("#searchText").css("display", "inline-block")
               } else if (cate == "year-month") {
                  $("#searchMonth").css("display", "inline-block")
               } else {
                  $("#searchDate").css("display", "inline-block")
               }
            });

            loadpage(1, "title", "")
         }); // end of ready function
      </script>
   </div>
</body>

</html>